@import "tailwindcss";
@plugin "daisyui" {
  themes: business;
}

html,
body {
  overflow-x: hidden;
}

/* Hide scrollbar for Webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Responsive section padding */
.section-padding {
  padding: 1rem;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 2.5rem;
  }
}
